<h1>{{location.locationName}}</h1>

<section>
    <h2>Location Details</h2>
    <h3>Address</h3>
    <p>{{location.address}}</p>

    <h3>Borough</h3>
    <p>{{location.borough}}</p>
    
    <h3>Neighborhood</h3>
    <p>{{location.neighborhood}}</p>
    
    <h3>Parking Capacity</h3>
    <p>{{location.parkingSize}}</p>

    <h3>Coordinates</h3>
    <p>Latitude: {{location.latitude}}, Longitude: {{location.longitude}}</p>

    <h2>Safety</h2>

    <h3>Number of Thefts Reported by Users</h3>
    <p>{{location.numberOfThefts}}</p>

    <h3>Safety Score</h3>
    <p><span class="{{safetyClass location.safetyRating}}" style="font-size: 60px">{{safetyLetter location.safetyRating}}</span></p>
    

</section>

<a href="{{backLink}}">Back to search results</a>